SECRET_KEY=cambia_esto_por_un_valor_seguro
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DATABASE_URL=postgresql://postgres:root@127.0.0.1:5432/bailarines
APP_BASE_URL=http://127.0.0.1:8000

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu_correo@gmail.com
EMAIL_HOST_PASSWORD=tu_clave_de_aplicacion
DEFAULT_FROM_EMAIL=Cooperativa Bailarines <tu_correo@gmail.com>
EMAIL_TIMEOUT=20

RESEND_API_KEY=
RESEND_FROM_EMAIL=Cooperativa Bailarines <onboarding@resend.dev>

WEBPUSH_ENABLED=False
WEBPUSH_VAPID_PUBLIC_KEY=
WEBPUSH_VAPID_PRIVATE_KEY=
WEBPUSH_VAPID_ADMIN_EMAIL=tu_correo@gmail.com
